{% extends "base/base.xhtml" %}

{% block banner %}
{% endblock %}


{% block extra-head %}
<style type="text/css">
#show-user-profile {
    background-color: #f8f8f8;
    padding: 10px;
}
#avatar-wrapper {
    float: left;
    margin-right: 10px;
}
#avatar-wrapper img {
    width: 100px;
    height: 100px;
}
#user-info-wrapper p {
    padding-bottom: 5px;
}
#user-nickname {
    font-size: 2em;
    font-weight: bold;
}
#user-nav li {
    float: left;
    padding: 10px;
}
#user-nav {
    background: transparent url(/static/img/bg_gradient_grey.png) repeat-x center center;
    _background-image: none;
    _background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
#user-nav li a.active {
    background-color: #fff;
    padding: 5px 10px 11px 10px;
    border: 1px solid #ddd;
    border-bottom: 0px;
    color: #FF5C69;
}
#admire {
    display: block;
    float: right;
    position: relative;
    margin-left: 400px;
    margin-bottom: -10px;
}
#add_show_notice {
    text-align: center;
    color: #000;
    margin-top: 50px;
}
</style>
{% endblock %}

{% block content %}

{% include "show/include/show_user_nav.html" %}

{% for s in pages.cur_page.object_list %}
<div class="show">
    <div class="show-header">
        {% if user in s.likes.all %}
        <a href="{% url show_like s.pk %}?undo=1" class="likit I_likit">我喜欢({{ s.likes.count }})</a>
        {% else %}
        <a href="{% url show_like s.pk %}" class="likit">我喜欢({{ s.likes.count }})</a>
        {% endif %}

        <a href="{% url show s.pk %}" class="show-title">{{ s.title }}</a>
        <p class="show-meta"><a href="#">{{ s.user }}</a> 
        分享于 {{ s.dtcreated }} <span class="read_count">浏览({{ s.read_count }})</span> <a href="{% url show s.pk %}">评论({{ s.comment_count }})</a> <a href="#">喜欢({{ s.like_count }})</a>
    </div>
    <div class="show-body">
        {% if s.image %}
        <a href="{% url show s.pk %}"><img src="{{ s.image.url }}" /></a>
        {% else %}
        <a href="{% url show s.pk %}"><img src="{{ s.image_url }}" /></a>
        {% endif %}
    </div>
</div>
{% empty %}
    {% if user == show_user %}
<p id="add_show_notice">你还没有同我们分享呢，现在要<a href="{% url add_show %}"><strong> + 分享</strong></a> 吗?</p>
    {% endif %}
{% endfor %}

<div id="paginator" class="clearfix">
    {% with pages.cur_page as page %}
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="previous">&laquo; 上一页</a>
    {% else %}
    <a class="disable">&laquo; 上一页</a>
    {% endif %}
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="next">下一页 &raquo;</a>
    {% else %}
    <a class="disable">&raquo; 下一页</a>
    {% endif %}
    {% endwith %}
</div><!--/paginator-->
<script type="text/javascript">
$(function () {
    $("a.likit").click(function (event) {
        event.preventDefault();
        var url = $(this).attr("href");
        var $obj = $(this);
        $.getJSON(url, function (res) {
            if(res.success) {
                if (res.undo) {
                    $obj.removeClass("I_likit");
                    $obj.attr("href", url.replace("undo=1", ""));
                } else {
                    $obj.addClass("I_likit");
                    $obj.attr("href", url + "undo=1");
                }
                $obj.html("我喜欢(" + res.data.likit_count + ")");
            } else {
                alert("你还没有注册或者登陆，无法收藏");
            }
        });
    });
});
</script>
{% endblock %}
