{% extends "base/base.xhtml" %}
{% block extra-head %}
<style type="text/css">
#tags {
    margin-bottom: 10px;
}
#tags li {
    padding: 5px;
    margin-bottom: 5px;
    display: inline;
}
a.tag {
    padding: 5px 0 5px 5px;
}
a.tag:hover {
    color: #FF5C69;
}
.tsize-0  {
    font-size: 13px;
}
.tsize-1 {
    font-size: 15px;
}
.tsize-2 {
    font-size: 20px;
}
.tsize-3 {
    font-size: 25px;
}
.tsize-4 {
    font-size: 30px;
}
.tsize-5 {
    font-size: 35px;
}
.tsize-6 {
    font-size: 40px;
}
</style>
{% endblock %}

{% block content %}
<div id="tags" class="clearfix">
    <ul>
        {% for t in pages.cur_page.object_list %}
        <li><a href="{% url show_tag t.name %}" class="tag"><span class="tsize-{{ t.level }}">{{ t.name }}</span></a></li>
        {% endfor %}
    </ul>
</div>

<div id="paginator" class="clearfix">
    {% with pages.cur_page as page %}
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="previous">&laquo; 上一页</a>
    {% else %}
    <a class="disable">&laquo; 上一页</a>
    {% endif %}
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="next">下一页 &raquo;</a>
    {% else %}
    <a class="disable">下一页 &raquo; </a>
    {% endif %}
    {% endwith %}
</div><!--/paginator-->
{% endblock %}
