{% extends "base/base.xhtml" %}
{% block content %}
<div id="settingsWrapper">
    <form id="settingsForm" method="post">
        {% csrf_token %}
        <h5><a href="/settings">修改资料</a> | 更改密码</h5>
        {{ form.as_p }}
        <p class="submit">
            <input type="submit" id="submit-button" value="提交，保存" class="submit-button" /> <a href="#">取消</a>
        </p>
    </form>
</div>
<style type="text/css">
#settingsWrapper {
    padding: 10px;
}
#settingsForm {
    padding: 10px 0;
}
#settingsForm input {
    width: 100%;
    padding: 5px;
    border: 2px solid #eee;
}

#settingsForm p {
    padding: 10px 0;
}
ul.errorlist {
    color: #cc0066;
    padding: 10px 0;
    display: left;
}
ul li {
    float: left;
}

#settingsForm #submit-button {
    width: auto;
}
#settingsForm label {
    color: #888;
    width: 100%;
    display: block;
}
#submit-button {
    width: 100px;
}
#settingsForm h5 {
    margin-bottom: 10px;
}

#settingsForm input:focus {
    border-color: #FF5C69;
    border-color: #888;
}
.submit-button {
    padding: 10px 20px;
}
.submit-button:hover {
    padding: 10px 20px;
}
</style>
{% endblock %}
